@model GoThere.ViewModels.EventFilterViewModel;

@{
    ViewData["Title"] = "Events";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-controller="Events" asp-action="SearchNewEvents">Update Events</a>
</p>
<form asp-controller="Events" asp-action="Index">
    <p>
        Location Name: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
    <p>
        Type:
        <select asp-for="EventCategory" asp-items="Model.Categories" class="mr-3">
            <option value="">All</option>
        </select>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Category)
            </th>
        </tr>
    </thead>
    @if (Model.Events.Count > 0)
    {
        <tbody>
            @foreach (var item in Model.Events)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    }
    else  {
        <tbody>No events found</tbody>
    }
    </table>
